.main-container-expe{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container-expe{
  margin-left: 10%;      /* igual al ancho de la barra lateral */
  display: flex;
  justify-content: center; 
  /* centra las cards en el eje x */
  width:90%;
  /*align-items: flex-end; centras las tarjetas en donde yo quiera(dentro del contenedor) del eje Y */
  gap: 14rem;             
  /* espacio entre las cards */
  padding: 2rem 0;


}

#container-arriba{
    padding-bottom:0px;
}

#container-abajo{
    padding-top:0px;
}

.textito-exp{
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 1.5rem;
    margin:0px;

}

#exp-titulo{
     font-size: 3rem;
    text-align: center;
    margin-left: 10%;
}

/* el degrade del tituloopp*/
 #t1{
    color:rgb(195,95,137);
    text-shadow:0 0 8px rgb(195,95,137);
 }

#t2{
    color:rgb(208,108,119);
    text-shadow:0 0 8px rgb(208,108,119);
 }

#t3{
    color:rgb(227,126,93);
    text-shadow:0 0 8px rgb(227,126,93);
 } 

#t4{
    color:rgb(242,139,74);
    text-shadow:0 0 8px rgb(242,139,74);
 }  

.artista{
    font-size: 2rem;
    margin-top: -5%;
    
}


#art{
    color:rgb(195,95,137);
    text-shadow:0 0 8px rgb(195,95,137);
 }

 #top{
     color:rgb(208,108,119);
    text-shadow:0 0 8px rgb(208,108,119);
 }

 #tiempo{
     color:rgb(227,126,93);
    text-shadow:0 0 8px rgb(227,126,93);
 }

 #cancion{
    color:rgb(242,139,74);
    text-shadow:0 0 8px rgb(242,139,74);
 }