.modalcerrarses {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: hsla(0, 0%, 0%, 0.5); /* Fondo semi-transparente */
  }
  

  .contenido-cerrarses {
    background: linear-gradient(to bottom right, #b95696, #f89142);
    margin: 16% auto;
    border-radius: 8px;
    width: 20rem;
    height: 10rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    box-shadow: #000000;
  }
  
  .cerrar {
    color: rgb(255, 255, 255);
    margin-right:1rem;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  .cerrar:hover {
    color:  #aaa;;
  }
  

 /*ESTOY INTENTANDO PONER EL COSO DE BILLIE D:*/
 /* lo saque XDDDD */
/* #cuadrito img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* mantiene proporción sin deformar */
  /* filter: brightness(0.8); opcional para oscurecer */
/* } */ 

/*login form*/
form {
    border-radius: 1rem;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px; /* Da bordes redondeados */
}

button {
    background-color: #b64f48;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px; /* Bordes redondeados para el botón */
}


  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: transparent;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* SACADO DE W3SCHOOL */
.container label {
    margin-top: 10px;
    display: block; /* Asegura que las etiquetas se alineen correctamente */
}

.container {
    margin: 20px 0; /* Espacio entre los elementos del formulario */
}

.close {
    padding: 10px;
    font-size: 18px; /* Un tamaño más pequeño */
}

#container-flex-columna{
    width:100%;
    display:flex;
    flex-direction: column;
}

#question{
  font-size: 1.5rem;
}

#container-flex-modal{
    width:100%;
    display:flex;
    flex-direction: row;
    gap:1rem;
}