.modalcerrarses {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: hsla(0, 0%, 0%, 0.5); /* Fondo semi-transparente */
  }
  

  .contenido-cerrarses {
    background: linear-gradient(to bottom right, #b95696, #f89142);
    margin: 16% auto;
    border-radius: 8px;
    width: 20rem;
    height: 10rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    box-shadow: #000000;
  }
  
  .cerrar {
    color: rgb(255, 255, 255);
    margin-right:1rem;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  .cerrar:hover {
    color:  #aaa;;
  }
  

button {
  background-color: #b64f48;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px; 
}


button:hover {
  opacity: 0.8;
}
  
  
.container {
  padding: 16px;
  margin: 20px 0; /* Espacio entre los elementos del formulario */
}
  
  /* SACADO DE W3SCHOOL */


#question{
  font-size: 1.5rem;
}

#container-flex-modal{
  width:100%;
  display:flex;
  flex-direction: row;
  gap:1rem;
}