body{
    margin:0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #f7f7ef;
    background-color: rgb(28, 31, 30);
}
 /*le saca el cosito azul a todos los <a> que tengan un href="" */
a {
  text-decoration: none; /*le saca la decoracion*/
  color: inherit; /*le saca el color*/
}

#lateral{
  width: 10%;
  background: linear-gradient(to bottom right, #b95696, #f89142); /*si ponemos to bottom right podemos hacerlo en diagonal*/
  height: 100vh;
  display: flex;
  flex-direction: column; /* para hacer columnassss con flex*/
  gap: 8%; /*espaciado entre los items de la barra lateral*/
  position:fixed; /*para q se mantenga aunq scrollee*/
  z-index: 100; /*para q se ponga arriba del fondo*/
  top: 0;
  align-items: center;
  justify-content: center;
}


.lateral-arriba{
  padding-top: 3rem;
}

#mybtn{
  padding-top: 1rem;
}


.icono{
  width:90%;
  height:4rem;
}
.main-container{
  margin-left: 10%;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center; /*centra en eje x*/
  align-items: center; /*centra en eje y*/
}

/*no se usa*/
.info{
  position:relative;
  justify-content: center;
  margin-left:60px;
  margin-left: 100px;
  border: 2px solid black;
  border-radius: 8px;
  width: 35rem;
  height:95vh;
  left:-3rem;
  box-shadow: 0 0 15px #3d4d2a98;
}
 
.cora{
    justify-content: center;
    align-items: bottom;
    font-size:6rem;
    margin-top: 23rem;
}

/*Agranda los corazones cndo pasas el mouse por arriba*/ 
.cora:hover{
    text-shadow:   1px    0px    20px        #de7481;
    /*Sombra-txt  eje Y   eje X  Difuminacion  color  */
}

/* aca medio q no lo vamos a usar */
/*.cora a:hover{
    box-shadow: 0 0 15px #de748198;
    
}*/

#cora-izq{
 margin-right:4rem;   
}

#cora-der{
    margin-left:4rem;   
}

#cuadrito{
    position: relative;
    border:solid 2px rgb(0, 0, 0);
    margin-top:2rem;
    margin-left:3.5rem;
    margin-right:3.5rem;
    width:80%;
    height:60vh;
    background-color: #de748198;
    background-image: url('assets/img/HitMeHardAndSoft.png'); /* Ruta relativa */
    background-size: cover; /* Cubre todo el div */
    background-position: center; /* Centrado */
    background-repeat: no-repeat; /* No se repite */
    box-shadow: 0 0 20px #000000;
}

#container-datos{
    position: relative;
    margin-top:2rem;
    margin-left:3.5rem;
    width:80%;
    height:10vh;
    color:#d7d7ce
}

#multimedia{
  width:50px;
  height: 50px;

}

/*MODAAAAAAAAAAAAAAAAAAAAL*/
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: hsla(0, 0%, 0%, 0.5); /* Fondo semi-transparente */
  }
  

  .modal-content {
    background: linear-gradient(to bottom right, #b95696, #f89142);
    margin: 5% auto;
    padding: 2rem;
    border-radius: 8px;
    width: 23rem;
    height: 23rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    box-shadow: #000000;
    overflow-y: auto; /* Permite scroll si el contenido es muy largo */
  }
  
  .close {
    color: rgb(255, 255, 255);
    margin-right:1rem;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  .close:hover {
    color:  #aaa;;
  }
  

 /*ESTOY INTENTANDO PONER EL COSO DE BILLIE D:*/
 /* lo saque XDDDD */
/* #cuadrito img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* mantiene proporción sin deformar */
  /* filter: brightness(0.8); opcional para oscurecer */
/* } */ 

/*login form*/
form {
    border-radius: 1rem;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px; /* Da bordes redondeados */
}

button {
    background-color: #b64f48;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px; /* Bordes redondeados para el botón */
}


  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: transparent;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* SACADO DE W3SCHOOL */
.container label {
    margin-top: 10px;
    display: block; /* Asegura que las etiquetas se alineen correctamente */
}

.container {
    margin: 20px 0; /* Espacio entre los elementos del formulario */
}

.close {
    padding: 10px;
    font-size: 18px; /* Un tamaño más pequeño */
}



